.footer {
    background-color: #DBD3C9;
    justify-content: start;
    .redesSociales{
        width: 280px;
        font-size: 13px;
        font-weight: 400;
        color:black;
        margin-left: 16px;
    }
    .infoFooter ul li {
        list-style: none;
        width: 280px;
        font-size: 13px;
        font-weight: 400;
        color:black;
        background-color:  #DBD3C9;;
    }
}