.footer {
    background-color: #BDBEBF;
    justify-content: start;
    .redesSociales{
        width: 280px;
        font-size: 13px;
        font-weight: 450;
        color:black;
        margin-left: 16px;
    }
    .infoFooter ul li {
        list-style: none;
        width: 280px;
        font-size: 13px;
        font-weight: 450;
        color:black;
        background-color:#BDBEBF;
    }
}