.bodyIndex {
    background-color:$colorFondo;
    .tituloIndex {
        color: $colorTitulo;
        text-align: center;
        font-size: $tamanioTitulo;
        font-weight: 400;
    }
    .tituloIndexDos {
        color: $colorTitulo;
        text-align: center;
        font-weight: 350;
    }
    .parrafoIndex {
        text-align: center;
        font-size: $tamanioTexto;
        margin: 3px;
        font-weight: 200;
    }
    .btn btn-primary {
        margin-left: 200px;

    }
        .imgIndex {
            width: 50%;
            margin-left: 25%;  
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    