* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.bodyIndex {
  background-color: #F1F2CE;
}
.bodyIndex .tituloIndex {
  color: #333333;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.bodyIndex .tituloIndexDos {
  color: #333333;
  text-align: center;
  font-weight: 350;
}
.bodyIndex .parrafoIndex {
  text-align: center;
  font-size: 20px;
  margin: 3px;
  font-weight: 200;
}
.bodyIndex .btn btn-primary {
  margin-left: 200px;
}
.bodyIndex .imgIndex {
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  background-color: #BDBEBF;
  justify-content: start;
}
.footer .redesSociales {
  width: 280px;
  font-size: 13px;
  font-weight: 450;
  color: black;
  margin-left: 16px;
}
.footer .infoFooter ul li {
  list-style: none;
  width: 280px;
  font-size: 13px;
  font-weight: 450;
  color: black;
  background-color: #BDBEBF;
}

.tituloQs {
  color: #333333;
  margin: 6px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.bodyQs {
  background-color: #F1F2CE;
}
.bodyQs .parrafoQs {
  margin: 20px;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
}
.bodyQs .mapaQs {
  size: 30%;
  margin-left: 5px;
}
.bodyQs .ubi {
  margin: 20px;
  font-size: 18px;
  font-weight: 750;
  color: #736A5F;
}

.bodyServicios {
  background-color: #F1F2CE;
}
.bodyServicios .tituloServicios {
  color: #333333;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.bodyServicios .parrafoServicios {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.bodyServicios .listaServicios {
  margin: 50px;
  list-style: disc;
  text-align: left;
  font-size: 15px;
}
.bodyServicios .imgServicios {
  width: 200px;
  margin-left: 85px;
  margin-bottom: 3px;
  padding: 5px;
}

.bodyContacto {
  background-color: #F1F2CE;
}
.bodyContacto .tituloContacto {
  color: #333333;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.bodyContacto .pContacto {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.bodyContacto .comentario {
  margin-top: 5px;
}
.bodyContacto .consulta {
  font-size: 18px;
  font-weight: 750;
  color: #736A5F;
}
.bodyContacto .sel {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bodyContacto .casilleroC {
  margin-left: 3px;
  margin-bottom: 4px;
}
.bodyContacto .btnContacto {
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 2px;
  margin: 3px;
  margin-top: 3px;
}
.bodyContacto main form {
  margin: 30px;
  text-align: left;
}
.bodyContacto .logoContacto {
  width: 62px;
  margin-left: 30px;
}

.bodyEventos {
  background-color: #F1F2CE;
}
.bodyEventos .tituloEventos {
  color: #333333;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.imgEventos, .tarjetaCuatro, .tarjetaTres, .tarjetaDos, .tarjetaUno {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.tarjetas {
  display: flex;
  padding: 2px;
}

.tarjetaUno {
  width: 200px;
}
.tarjetaUno .nombreImg {
  color: black;
  text-align: center;
  font-weight: 150;
}

.tarjetaDos {
  width: 200px;
}
.tarjetaDos .nombreImg {
  color: black;
  text-align: center;
  font-weight: 150;
}

.tarjetaTres {
  width: 200px;
}
.tarjetaTres .nombreImg {
  color: black;
  text-align: center;
  font-weight: 150;
}

.tarjetaCuatro {
  width: 200px;
}
.tarjetaCuatro .nombreImg {
  color: black;
  text-align: center;
  font-weight: 150;
}

@media (max-width: 900px) {
  .tarjetas {
    display: block;
  }
}